.track-element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 20px;
  margin-bottom: 5px;
  cursor: pointer;
}

.track-number {
  margin-right: 3px;
}

.track-name:hover {
  text-decoration: underline;
  font-weight: 700;
}

.track-name-playing {
  font-weight: bold;
}

.list-title {
  margin-bottom: 12px;
  font-size: 110%;
}

.track-list {
  margin-top: 20px;
  margin-right: 10px;
}

.track-list-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.track-list-flex ul {
  margin-top: 12px;
  margin-bottom: 12px;
}

.album-art-album-page {
  margin: 10px;
}

.user-profile-picture {
}

.other-albums {
  margin-top: 10px;
}

.whole-album-page {
  display: flex;
  justify-content: center;
}

.artist-info-album-page {
  margin: 10px;
  width: 350px;
}

.album-cover {
  margin-top: 10px;
}

.right-side-album-page {
  margin-top: 10px;
}

.right-side-album-page {
  cursor: pointer;
}

.artist-title-album-page:hover {
  text-decoration: underline;
}
