.track-element {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.track-list-title {
  font-size: 20px;
  font-style: oblique;
  text-decoration: underline;
  padding-top: 7px;
  padding-left: 20px;
}

.track-list {
  margin: 20px;
}

.track-list-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.album-art-album-page {
  margin: 10px;
}

.user-profile-picture {
  margin: 10px;
}

.other-albums {
  margin-top: 10px;
}

.whole-album-page {
  display: flex;
  justify-content: center;
}

.artist-info-album-page {
  padding-top: 10px;
}
