@import 'modules/colors';

.play-button {
  height: 40px;
  width: 40px;
}

.whole-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.audio-progress {
  background-color: red;
}

.audio-player {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #B0BEC5;
}

.player-song-title {
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.progress-bar{
  content: "";
  background: #3E3E40;
  height: 6px;
  width: 100%;
}
.audio-progress{
  background: $primaryColor;
  height: 100%;
}

.bottom-part-audio-player {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
