.play-button {
  height: 40px;
  width: 40px;
}

.whole-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
