.play-button {
  height: 10%;
  width: 10%;
}

.whole-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.inner-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
