@import 'modules/colors';

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.red-600 { color: #E53935; }
.material-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whole-page {
}

.upload-form {
  margin-bottom: 8px;
}
