@import 'modules/colors';

.nav {
  display: flex;
  justify-content: space-between;
  background: $secondaryColor;
}

.session {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bottom-row-login-form {
  display: flex;
  justify-content: space-between;
}
