@import 'modules/colors';

.nav {
  display: flex;
  justify-content: space-between;
  background: $secondaryColor;
  -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.25)
}

.nav-logged-out {
  display: flex;
  justify-content: flex-end;
  background: $secondaryColor;
}

.right-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.bottom-right-nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.logo-area {
  text-decoration-color: black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  padding-left: 6px;
}

.logo-area > h1 {
  color: black;
  font-size: 30px;
}

.left-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-nav-bar h4 {
  color: $primaryColor;
}

.bottom-row-login-form {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 5px;
  margin-right: 3px;
	width: 30px;
	height: 22px;
	-webkit-transform: skew(-25deg);
	   -moz-transform: skew(20deg);
	     -o-transform: skew(20deg);
	background: $primaryColor;
}
