.search-dropdown img {
  height: 30px;
  width: 30px;
}
.search-dropdown {
  z-index: 10000;
  position: absolute;
  padding: 0px;
  margin: 0px;
  top: 26px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
