@import 'modules/colors';

.explore-music h1 {
  font-size: 130%;
  font-weight: 700;
  padding-left: 6%;
}

.grid {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.splash-image {
  padding-bottom: 20px;
}

.splash-image img {
  width: 100%;
  height: 400px;
}
