.user-discography {
  width: 80%;
  padding: 10px;
  margin: 5px;
}

.user-page {
  display: flex;
  justify-content:space-between;
}

.track-list-form {
  display: flex;
  justify-content: space-between;
}
