.user-sidebar {
  margin-top: 20px;
  margin-left: 20px;
  width: 200px;
}

.user-discography {
  width: 80%;
  margin-top: 20px;
  margin-left: 20px;
}

.user-page {
  display: flex;
  justify-content:space-between;
}

.track-list-form {
  display: flex;
  justify-content: space-between;
}

.album-element {
  width: 400px;
}
